extends layout

block content
  div#app.app(
    data-logged=logged,
    class=logged ? 'logged' : 'not-logged',
    data-name=name,
    data-types=types,
    data-balance=balance,
    data-savings=savings)
